<ion-content [fullscreen]="true" class="ion-padding" no-bounce>
  <ion-list>
    <ion-list-header class="title-label">Types</ion-list-header>
    <ion-radio-group [(ngModel)]="selectedVehicleType">
      <ion-item *ngFor="let item of vehicletypes">
        <ion-label class="item-wrapper">
          <ion-radio [value]="item.name"></ion-radio>
          <ion-col>
            <div class="item-name">{{ item.name }}</div>
          </ion-col>
          <ion-col>
            <div class="item-credits">{{ item.credits }} credits</div>
          </ion-col>
        </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-list-header class="title-label">Tires</ion-list-header>
    <ion-radio-group [(ngModel)]="selectedVehicleTire">
      <ion-item *ngFor="let item of vehicletires" [disabled]="!selectedVehicleType || selectedVehicleType === 'Hovercraft'">
        <ion-label class="item-wrapper">
          <ion-radio [value]="item.name"></ion-radio>
          <ion-col>
            <div class="item-name">{{ item.name }}</div>
          </ion-col>
          <ion-col>
            <div class="item-credits">{{ item.credits }} credits</div>
          </ion-col>
        </ion-label>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-list>
    <ion-list-header class="title-label">Extras</ion-list-header>
    <ion-item *ngFor="let item of vehicleextras">
      <ion-label class="item-wrapper">
        <ion-checkbox [(ngModel)]="item.selected" [value]="item.name" (ionChange)="updateSelectedExtras()"></ion-checkbox>
        <ion-col>
          <div class="item-name">{{ item.name }}</div>
        </ion-col>
        <ion-col>
          <div class="item-credits">{{ item.credits }} credits</div>
        </ion-col>
      </ion-label>
    </ion-item>
  </ion-list>

  <div>
    <ion-title>
      <ion-label class="item-wrapper">
        <div class="title-label">
          Total
        </div>
          <div class="title-label">
            {{ calculateTotalCredits() }} credits
          </div>
      </ion-label>
    </ion-title>
  </div>

  <ion-label [ngClass]="{'available-credits': true, 'availableCredits-red': totalCreditsRed}">
    <div>
      Available Credits: {{ availableCredits }} credits

    </div>
  </ion-label>
  <ion-card-content>

  <ion-button expand="full" [disabled]="disablePurchaseButton" (click)="purchase()">Purchase</ion-button>
  </ion-card-content>
</ion-content>