/* tune-vehicle.component.scss */

.item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .title-label {
    text-align: left;
  }

  .availableCredits-red {
    color: red;
  }
  